
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primaryColor : #dc2126;
  --secondaryColor : #DF9B2C;
  --secondary2Color : #D6DF20;
  --mixedColor : #DE8B2D;
}
body{
  font-family: "Mazzard Soft H", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a{
  color: white;
}
ul{
  padding-left: 15px;
}
ul li{
list-style: none !important;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav bar */
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
.navcontainer{
  position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: var(--primaryColor);
  z-index: 9999;
}
.logocontainer{
  width: 50px;
  height: 50px;
}
.logocontainer img{
  object-fit: contain;
}
.bar{
  display: none;
}
.itemscontainer ul{
  display: flex;
  text-transform: capitalize;
}
.itemscontainer ul li{
  padding: 10px;
  border-radius: 10px;
}
.itemscontainer ul li a{
  color: white !important;
}
.itemscontainer ul li:hover{
  background-color: var(--secondaryColor);
  color: white !important;
}
.itemscontainer ul li:hover > a{
  color: white !important;
  font-size: 12px;  
}
.sideNavOverall {
 display: none; 
}
.flierHeroSection{
  border: 1px solid black;
  margin-top: 50px;
  height: 300px;
}
/* ===========nav */
@media(max-width: 810px){
  .navcontainer{
      padding: 10px;
  }
}
@media(max-width: 668px){
/* .itemscontainer{

} */

.aboutUs{
  margin-top: 60px !important;
}

.itemscontainer .closeNavBar{
  padding-top: 50px;
  display: block;
  position: fixed;
  top: 60px;
  left: -100%;
  background-color: var(--primaryColor);
  width: 180px;
  height: 100%;
  transition: left 0.6s ease-out;
}
.itemscontainer .openNavBar{
  padding-top: 50px;
  display: block;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: var(--primaryColor);
  width: 180px;
  height: 100%;
  transition: left 0.6s ease-out;
}
.itemscontainer ul li {
  padding: 10px 20px;
}
.bar{
  display: block;
}
.sideNavOverall{
  position: fixed;
  top: 60px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* z-index: 9999; */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  }
  .sideNavOverallChange{
    display: block !important;
    }
}
/* ==================nav bar=========== */

.img{
  width: 100px;
  height: 150px;
}
.overWrapPage{
  /* padding: 0px 10px; */
}
/* ================product cards ================= */

.cardsParentCon{
padding-top: 70px;
padding-bottom: 50px;
}
/* .cardsHeader{

} */
.cardsHeader h1{
  text-transform: capitalize;
  color: var(--mixedColor);
}
.cardsParent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;

 
}
.cardsItems{

/* flex: 1; */
cursor: pointer;
 /* border: 2px solid; */
 width: 150px;
 text-align: center;
 text-transform: capitalize;
 padding-bottom: 15px;
 border-radius: 10px;
box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 6%);
}
.cardsItems .productImg{
  width: 100%;
  height: 200px;
}
.cardsItems .productImg img{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
object-fit: unset;
}
/* 
.cardsItems .productDetails{

}
.productName{

} */
.productName h4{
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
  color: var(--primaryColor);
}
/* .productWeight{

} */
.productWeight h5{
  color: #000b28;
}
.productPrice{
 display: flex;
align-items: center;
justify-content: center;
gap: 5px; 
margin: 5px 0px;
font-size: 16px;
font-weight: bold;

}
.productPrice h4{
font-weight: bold;
color: #000b28;
}
.cardBtn{
display: flex;
align-items: center;
justify-content: center;
}
@media(max-width : 380px){
.cardsItems{
  width: 250px;
}
}
@media(max-width : 300px){
.cardsItems{
  width: 200px;
}
}
.blogBtnFlex{
  display: flex;
  justify-content: end;
}

.blogBtnFlex .blogBtn{
  width: 100px;
  padding: 10px;
  border-radius: 7px !important;
  cursor: pointer;
  color: white;
}

/* .cardBtn p{

} */
/* ====================product cards end ====================== */

/* ====================== header ================= */
.herocon{
  margin-top: 70px !important;
  background-color: var(--primaryColor);
}
.herocon .aboutBtn{
  display: block;
  padding: 10px 0px !important;
}
#heroflex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#heroflex .aboutUsDetails{
width: 60%;
}
#heroflex  .aboutUsImg{
width: 40% ;
height: 400px !important;
position: none;
/* border: 1px solid; */
}
#heroflex  .aboutUsImg img{
  object-fit: contain;
}

@media(max-width :  990px){
#heroflex  .aboutUsImg img{
  object-fit: cover;
}
}

@media(max-width :  890px){
#heroflex{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}
#heroflex .aboutUsDetails{
width: 100%;
}
#heroflex  .aboutUsImg{
width: 100% ;
height: 350px !important;
}
#heroflex  .aboutUsImg img{
  object-fit: contain;
}
}
@media(max-width :  451px){
  #heroflex  .aboutUsImg{
width: 100% ;
height: 400px !important;
}
#heroflex  .aboutUsImg img{
  object-fit: cover;
}
}
@media(max-width :  355px){
 #heroflex  .aboutUsImg{
width: 100% ;
height: 300px !important;
}

}
/* ==================== header end ================== */

/* =============about us======== */
.product-list-con{
  padding: 10px;
}
.aboutUs{
  margin-top: 70px;
}
.aboutCon{

}
#aboutUsCon{
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#aboutUsCon .carsel{
  flex: 1;
  width: 50%;
}
#aboutUsCon .aboutUsDetails{
  flex: 1;
  width: 50%;
}
#aboutUsImgSupply{
  overflow: hidden;
  padding: 11px;
  border-radius: 10px;
  background-color: var(--primaryColor);
  position: relative;
  height: 300px !important;
}
@media(max-width: 530px){
  #aboutUsCon .carsel{
  flex: none;
  width: 100%;
}
#aboutUsCon .aboutUsDetails{
  flex: none;
  width: 100%;
}
}
.aboutUsImg{
width: 100%;
height: 400px;

}
.ant{
  display: none;
  width: 81px;
  height: 66px;
  position: absolute;
  top: -10px;
  left: 0;
  animation: move-around 35s infinite;
}
@keyframes move-around {
 0% {
  top: -60px;
    left: -20px;
}
25% {
    top: 0px;
    left: 90%;
}
50% {
    top: 85%;
    left: 86%;
}
75% {
  transform: rotate(90deg);
    top: 90%;
    left: 0;
}
100% {
    /* top: 0;
    left: 0; */
    /* transform: rotate(180deg); */
}

}
.aboutUsDetails{
padding-top: 20px;
padding-right: 10px;
padding-left: 10px;
}
.newCon{
  padding-top: 10px;
}
.anotherNewCon{
  padding-top: 10px;
}
.newConBottom{
  padding-top: 5px;
}
.newConBottom p{
  margin-bottom: 10px;
}
.newConBottom span{
  font-weight: bold;
}
.aboutUsSection{
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
}
.aboutUsSection p{
  margin-top: 10px;
}
.carsel{
flex: 1;
width: 50%;
}
.supplierHero{
  width: 100% !important;
}
.supplierHero #aboutUsImgSupply{
border-radius: 0px !important;
height: 500px !important;
}
.Supply{
  margin-bottom: 75px;
  padding: 10px;
}
@media (max-width : 1000px) {
  .supplierHero #aboutUsImgSupply{
border-radius: 0px !important;
height: 350px !important;
}
}
.aboutUsDetails h2{
  color: var(--mixedColor);
  font-size: 20px;
}
.aboutUsDetails ul{
  margin-top: 10px;
}
.aboutUsDetails ul p {
  color: var(--mixedColor);
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
}
.aboutUsDetails ul li{
  list-style: inside;
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px 0px;
}
.Supply .aboutUsImg{
height: 200px !important;
}
.aboutBtn{
  display: flex;
  justify-content: end;
  padding: 10px 20px;
}

.aboutBtn .btn{
display: flex;
align-items: center;
gap: 10px;
text-transform: capitalize;
color: white;
font-weight: bold;
border-radius: 10px !important;
font-size: 12px;
margin: 10px 0 0;
background: -webkit-linear-gradient(-45deg, #EB232D 0%,#DE8B2D 100%);
background: linear-gradient(135deg, #EB232D 0%,#DE8B2D 100%);
width: 150px !important;
padding-top: 12px !important;
padding-bottom: 12px !important;
padding-left: 20px;
padding-right: 20px;
font-size: 14px;
font-weight: bold;
cursor: pointer;
}
.aboutBtn .btn p{
  margin-top: 0px;
}
.aboutUsDetails .btn{
  /* width: 200px !important */
}
.aboutBtn .btn:hover > svg {
  margin-left: 10px;
}
@media(max-width : 530px){
  .aboutUsImg{
    width: 100%;
    height: 200px;
    }
    
}
/* ================about end========= */

/* =============supermat====== */

.superMat{
margin-bottom: 50px;
padding: 10px;
}
/* .superHeader{

} */
.superHeader h1{
color: var(--mixedColor);
}
.superDetails{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
    justify-content: center;
  gap: 20px;
  padding: 35px 20px;
}
.superLogo{
width: 150px;
height: 110px;
}

.testimoniesContainer{
 display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 35px 20px; 
}
.testimonies{
  position: relative;
  width: 150px;
  height: 200px;
}
.preview{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background: #f0f8ff40;
}


/* ================ testimonies ================ */
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.thumbnail {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-image-container {
  width: 90%;
  height: 100%;
}

.popup-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px #000;
}


/* =================== testimonies end ========== */






/* =========supermat end =========== */
.contactUs{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 0px;
  gap: 10px;
  margin-right: 20px;
  z-index: 9999;
}
.contactUs p{
  background-color: #f5f7f9;
  padding: 10px;
  border-radius: 10px;
}
.imgWhatapp{
width: 50px;
height: 50px;
border-radius: 50%;
padding: 10px;
background-color: #2db742;
}

/* ======================= */
/* .blogMainCon{
  
} */
.blogMainCon h1{
color: var(--mixedColor);
}

.blogMain{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 10px;
}
.blog{
  flex: 1;
  width: 200px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--mixedColor);
}
.blog a{
  color: black;
  text-decoration: none;
}
.blogImg{
  width: 100%;
  height: 200px;
}
.blogImg img{
  border-radius: 10px;
}
.blogContent{
  margin-top: 10px;
}
/* .blogTitle{

} */
.blogTitle h1{
  margin: 15px 0px;
  font-size: 18px;
  color: black;
}


/* =============blog details========= */
.blogDetails{
  margin-top: 50px;
padding: 20px;
}
.blogDetails .react-multiple-carousel__arrow{
display: none !important;
}
.blogBodyDetails{
padding: 10px 20px;
}
.blogDetailsHeader{
margin: 10px 0px;
}
.blogDetailsHeader h1{
font-size: 20px;
}

.blogDetailImg{
padding: 5px 40px;
}
.blogDetailImg .blogImgCon{
  width: 100%;
  height: 250px;
}
/* .blogDetailImg .blogImgCon img{

} */
.blogDetailImg .react-multi-carousel-dot-list {
  background-color: var(--secondaryColor);
  padding: 10px !important;
}
.blogDetailImg .react-multi-carousel-dot--active button{
  background-color: var(--primaryColor)!important;
}
.blogDetailImg .react-multi-carousel-dot button {
  width: 20px;
  height: 20px;
}

.blogDetailsPost{
margin-top: 10px;
}
.blogDetailsPost p{
text-indent: 20px;
line-height: 1.5;
}
.blogDetailsPost p::first-letter{
font-weight: bold;
font-size: 20px;
}
/* google map */
.IQ1KEb {
  margin-bottom: 48px;
}
.QMbmRe {
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 56%;
  width: 100%;
}

/* footer */
.contactcontainer{
  background-color: #0E1F51;
  padding: 20px 40px 60px 40px;
  margin-top: 50px;
}
.contactheader{
  text-align: center;
}
.contactheader h2{
  color: #FF3E54;
  text-transform: capitalize;
}
.contactheader h1{
  color: white;
  text-transform: capitalize;
}
.contactform{
display: flex;
}
.form{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.div input, .div textarea{
  border-radius: 10px;
  background-color: #F7F7F7; 
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 5px;
  resize: none;
}
/* .btnsubmit{

} */
.btnsubmit button{
  background-color: #FF3E54;
  border: none;
  color: white;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.contactflex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.contactholder{
  margin-bottom: 15px;
  margin-right: 10px;
 color: white;
}
#contact1{
width: 30%;
}
@media(max-width : 610px){
#contact1{
  width: 100%;
}
.contactcontainer{
  padding: 20px 10px 60px 10px;
}
}
.contact1 h4{
  text-transform: capitalize;
  margin-bottom: 10px;
}
.contact1 h6{
  font-size: 14px;
}
.contact1 p{
color: #b3c4ce;
}
.followflex{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.followimg{
background-color: white;
/* padding: 5px; */
padding-top: 5px;
padding-right: 5px;
padding-left: 5px;
border-radius: 5px;
margin-right: 5px;
}
.followimg img{
width: 20px;
height: 20px;
}
.contactform2{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.callflex{
  display: flex;
  width: 90%;
  margin-bottom: 20px;
}
.callimgcon{
background-color: #440909; 
padding: 10px;
border-radius: 10px;
margin-right: 10px;
}
.callimg{
width: 20px;
height: 20px;
}
.callimg img{
width: 100%;
height: 100%;
}
.calltext h6{
  color: #FF3E54;
  text-transform: capitalize;
  font-weight: bold;
}
.calltext p{
margin-top: 5px;
}
.followheader{
  text-align: center;
  padding: 20px 0px;
  font-weight: bold;
  text-transform: capitalize;
}
.underline{
 width: 100%;
    margin-top: 70px;
    padding-bottom: 5px;
    border-top: 1px solid black;
}
.copyright{
  text-align: center;
  color: #b3c4ce;
}
/* ------------------------------------------------------- 

/* --------------------- landing page --------------- */
.category-section{
margin: 15px 0px;
}
.category-section h2{
  color: var(--primaryColor);
  font-size: 14px;
  text-transform: capitalize;
}
.flex-category-name{
  display: flex;
  align-items: center;
  gap: 5px;
}
.flex-category-name .doticon{
  border: 0px;
    background: #df9b2c;
    border-radius: 0px;
}
.landingPageWrap{
    background-color: white !important;
    padding: 10px;
    margin-top: 20px;
}
.flex-parent{
    /* border: 1px solid; */
}
.flex-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
.header-title{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.header-title h2{
  color: var(--mixedColor);
}
.doticon{
background-color: white;
border-radius: 50%;
height: 12px;
width: 12px;
border: 2px solid var(--secondaryColor);
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 20px 0px;
}
.flex-child {
    width: calc(20% - 10px); 
    /* height: 320px; */
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 6%);
  }
.imagewrapper{
 height: 250px;   
}
.flex-img{
width: 100%;
height: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: #b3c4ce;
}
.flex-img img{
object-position: center;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.flex-title{
margin-top: 20px;
}
.flex-title-name{
    font-family: "Mazzard Soft H", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
    color: #EB232D;
}
.flex-readmore{

}
.flex-readmore a{
background: #de8b2d;
    color: white;
    padding: 10px;
    display: block;
    width: 70%;
    margin: 15px auto 0px auto;
    border-radius: 5px;
    font-weight: 500;
}
  /* Tablet view: 3 per row */
  @media (max-width: 1023px) {
    .flex-child {
      width: calc(33.33% - 10px);
    }
  }

  /* Mobile view: 1 per row */
  @media (max-width: 639px) {
    .flex-child {
      width: calc(50% - 10px);
    }
  }

  @media(max-width: 500px){
    .flex-child {
        width: calc(40% - 10px);
        height: unset;
        padding-bottom: 10px;
        }
    .imagewrapper {
       height: 200px;
      }
      .header-title h1, .aboutUsDetails h2{
        font-size: 20px;
      }
      .header-read-more a{
        font-size: 14px;
      }
  }
  @media(max-width: 400px){
    .flex-child {
        width: calc(80% - 10px);
        height: unset;
        padding-bottom: 10px;
        }
    .imagewrapper {
       height: 200px;
      }
  }

  .pageDetailsTop{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0px 20px;
  }
  .pageimagewrapper{
    border: 1px solid gray;
     width: 50%;
     padding: 0px 10px;
     height: 400px;
    /* width: calc(40% -20px) ; */
  }
  .pageDetailsImage{
   width: 100%;  
   height: 100%;
  }
  .pageDetailsImage img{

  }
  .pagedetailsDetails{
    width: 50%;
  }


  @media(max-width : 800px){
 .pageDetailsTop{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px 20px;
  }
 .pageimagewrapper{
    border: 1px solid gray;
     width: 100%;
     padding: 0px 0px;
     height: 400px;
    /* width: calc(40% -20px) ; */
  }
   .pageDetailsImage{
   width: 100%;  
   height: 100%;
  }
  .pageDetailsImage img{
  object-fit: contain;
  }
   .pagedetailsDetails{
    width: 100%;
  }
  }

  .detailstitle{

  }
  .detailstitle h1{

  }
  .detailsdescription{

  }
  .detailsdescription p{

  }
  .detailsCategory{

  }
  .detailsCategory p{

  }
  .detailsCategory span{

  }

  .pageBottom{
margin-top: 20px;
  }
  .pageBottomTitle{
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }
  .dotLine{
    background-color: gray;
    width: 33.33%;
    height: 1px;
  }
  @media(max-width : 740px){
        .dotLine{
            width: 90%;
        }
  }
  /* ------------------ landing page end -------------------- */